*{
    background-color: #000;
}
#one{
    display: inline-block;
    border:1px solid #000;
    padding:20px;
    width: 15em;
    height: 20em;
    border-radius: 20px;
    overflow: hidden;
    background:#232323;
}
#one:hover{
    transition: 0.5s;
    width: 17em;
    height: 22em;
}
#accP{
    height: 10em;
    margin-top: 9.5em;
    margin-left: 2em;
    position: absolute;
    top: -5em;
}
#accT{
    width: 15em;
    margin-left: 1em;
    position: absolute;
    top: 12.3em;
    font-size: large;
    background: none;
    color: white;
}
#accD{
    width: 10em;
    margin-left: 0em;
    position: absolute;
    top: 17em;
    margin-left: 2.5em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    height: 10em;
    width: 13em;
    font-size: medium;
    background: none;
}
#P1{
    position: absolute;
    margin-left: -1em;
    top: 18em;
    color: rgb(219, 105, 105);
    font-size: 20px;
    background: none;
}
#C1{
    position: absolute;
    margin-left: 5em;
    top: 17em;
    text-decoration: none;
    color: black;
    font-size:21px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #103297;
    border: none;
    
}
#C1:hover{
    background-color: red;
    color: white;
    transition:0.5s;
}