*{
    transition: 1s;
}
#logo{
width: 4em;
margin-left: 45em;
margin-bottom: 3em;
position:absolute;
background: none;
bottom: 38.3em;
}
#search{
width: 1em;
position: absolute;
cursor: not-allowed;
margin-left: 50px;
background: none;

}
.search_bar{
    border: 0;
    background: none;

}
.search_button{
    display: flex;
    position: absolute;
    margin-left: 2em;
    margin-bottom: 50px;
    cursor: pointer;
    outline: none;
    border: 0;
    background: none;
    
}
input{
    border: 0;
}
input[placeholder]{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.search_bar{
    margin-left: 50px;
    margin-top: 1.5em;
    background:none;

}
#my_cart{
    font-size: 15px;
    background: none;
    border: none;
    position: relative;
    left: 90em;
    
}
#cart-picture{
    position: absolute;
    margin-left: -3.5em;
    width: 25px;
    margin-top: 0em;
    left: 87em;
}
#laptop{
margin-left: 0.5em;
}
#Ltext{
    font-size:2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    top: 1em;
    margin-left: 0.8em;
    text-decoration: none;
    color: black;
    
}
.Lwrap{
    position: absolute;
    left: 5em;
    top: 4em;
    cursor: pointer;
    text-decoration: none;
}
#laptop{
    position: absolute;
    margin-bottom: 10em;
    margin-right: 2em;
    text-decoration: none;
    color: #103297;
}
hr{

    left: 0%;
    width: 100%;
    border-color: #3D3B30;
    color: gray;
    top: -1em;
}
#Ctext{
    position: absolute;
    font-size: 2em;
    text-decoration: none;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 11em;
    top: 3em;
}
#computer{
    text-decoration: none;
    color: #103297;
    position: absolute;
    margin-bottom: 25em;
    top: 1em;
    margin-left: 6em;
}
#Ltext:hover{
    transition: 0.5s;
    color: red;
}
#Ctext:hover{
    transition:0.5s;
    color: red;
}
#accessories{
    text-decoration: none;
    color: #103297;
    position: absolute;
    margin-left: 10em;
    top: 1em;
}
#Atext{
    text-decoration: none;
    color: black;
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    margin-left: 18.5em;
    top: 3em;
}
#Atext:hover{
    transition: 0.5s;
    color: red;
}
#offer{
    text-decoration: none;
    color: #103297;
    position: absolute;
    margin-left: 14em;
    top: 1em;
}
#Otext{
    text-decoration: none;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    position: absolute;
    margin-left: 26em;
    top: 3em;
}
#Otext:hover{
    transition: 0.5s;
    color: red;
}
#gaming{
    text-decoration: none;
    color: #103297;
    position: absolute;
    margin-left: 17.5em;
    top: 1em;
}
#Gtext{
    text-decoration: none;
    color: black;
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    margin-left: 34.5em;
    top: 3em;
}
#Gtext:hover{
    transition: 0.5s;
    color: red;
}
#soon{
    text-decoration: none;
    color: #103297;
    position: absolute;
    margin-left: 20.5em;
    top: 1em;
}
#Stext{
    text-decoration: none;
    color: black;
    font-size: 2em;
    
    position: absolute;
    margin-left: 40em;
    top: 3em;
}
#Stext:hover{
    transition: 0.5s;
    color: red;
}
.parallax{
    background-image: url(pictures/parallax.png);
    min-height: 700px;
    width: 100%;
    margin-top: 5em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

  .mySlides {display: none}
    img {vertical-align: middle;}
    
    .slideshow-container {
      max-width: 1000px;
      position: relative;
      left: 17%;
      top: 40%;
    }
    
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
    
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }
    
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    @media only screen and (max-width: 300px) {
      .prev, .next,.text {font-size: 11px}
    }
 /*latest products*/
 #one{
    display: inline-block;
    border:1px solid #000;
    padding:20px;
    width: 15em;
    height: 20em;
    border-radius: 20px;
    overflow: hidden;
    background:#232323;
}
#one:hover{
    transition: 0.5s;
    width: 16em;
    height: 21em;
}
#accP{
    height: 7em;
    margin-top: 9.5em;
    margin-left: 0em;
    position: absolute;
    top: 50em;
    
}
#accT{
    width: 15em;
    margin-left: 3em;
    position: absolute;
    top: 58.5em;
    font-size: large;
    background: none;
    color: white;
}
#accD{
    width: 10em;
    position: absolute;
    top: 70em;
    margin-left: 1.5em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    height: 10em;
    width: 13em;
    font-size: medium;
    background: none;
}
#P1{
    position: absolute;
    margin-left: -1em;
    top: 63em;
    color: rgb(219, 105, 105);
    font-size: 20px;
    background: none;
}
#C1{
    position: absolute;
    margin-left: 5em;
    top: 59.5em;
    text-decoration: none;
    color: black;
    font-size:21px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #103297;
    border: none;
    
}
#C1:hover{
    background-color: red;
    color: white;
    transition:0.5s;
}
/*...............*/
#two{
    display: inline-block;
    border:1px solid #000;
    padding:20px;
    width: 15em;
    height: 20em;
    border-radius: 20px;
    overflow: hidden;
    background:#232323;

}
#two:hover{
    transition: 0.5s;
    width: 16em;
    height: 21em;
}
#accP2{
    height: 10em;
    margin-top: 9.5em;
    margin-left: 2em;
    position: absolute;
    top: 50em;
}
#accT2{
    width: 15em;
    margin-left: 0em;
    position: absolute;
    top: 60em;
    font-size: large;
    background: none;
    color: white;
}
#accD2{
    width: 10em;
    position: absolute;
    top: 70em;
    margin-left: 1em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    height: 10em;
    width: 13em;
    font-size: medium;
    background: none;
}
#P2{
    position: absolute;
    margin-left: -1em;
    top: 63em;
    color: rgb(219, 105, 105);
    font-size: 20px;
    background: none;
}
#C2{
    position: absolute;
    margin-left: 5em;
    top: 59.5em;
    text-decoration: none;
    color: black;
    font-size:21px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #103297;
    border: none;
    
}
#C2:hover{
    background-color: red;
    color: white;
    transition:0.5s;
}
/*..............*/
#three{
    display: inline-block;
    border:1px solid #000;
    padding:20px;
    width: 15em;
    height: 20em;
    border-radius: 20px;
    overflow: hidden;
    background:#232323;
}
#three:hover{
    transition: 0.5s;
    width: 16em;
    height: 21em;
}
#accP3{
    height: 10em;
    margin-top: 9.5em;
    margin-left: 2em;
    position: absolute;
    top: 50em;
}
#accT3{
    width: 15em;
    margin-left: 4em;
    position: absolute;
    top: 61em;
    font-size: large;
    background: none;
    color: white;
}
#accD3{
    width: 10em;
    position: absolute;
    top: 71em;
    margin-left: 1.5em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    height: 10em;
    width: 13em;
    font-size: medium;
    background: none;
}
#P3{
    position: absolute;
    margin-left: -1em;
    top: 63em;
    color: rgb(219, 105, 105);
    font-size: 20px;
    background: none;
}
#C3{
    position: absolute;
    margin-left: 5em;
    top: 59.5em;
    text-decoration: none;
    color: black;
    font-size:21px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #103297;
    border: none;
    
}
#C3:hover{
    background-color: red;
    color: white;
    transition:0.5s;
}
/*...................*/
#four{
    display: inline-block;
    border:1px solid #000;
    padding:20px;
    width: 15em;
    height: 20em;
    border-radius: 20px;
    overflow: hidden;
    background:#232323;
}
#four:hover{
    transition: 0.5s;
    width: 16em;
    height: 21em;
}
#accP4{
    height: 10em;
    margin-top: 9.5em;
    margin-left: 1em;
    position: absolute;
    top: 50em;
}
#accT4{
    width: 15em;
    margin-left: 3em;
    position: absolute;
    top: 60em;
    font-size: large;
    background: none;
    color: white;
}
#accD4{
    width: 10em;
    position: absolute;
    top: 70em;
    margin-left: 2em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    height: 10em;
    width: 13em;
    font-size: medium;
    background: none;
}
#P4{
    position: absolute;
    margin-left: -1em;
    top: 63em;
    color: rgb(219, 105, 105);
    font-size: 20px;
    background: none;
}
#C4{
    position: absolute;
    margin-left: 5em;
    top: 59.5em;
    text-decoration: none;
    color: black;
    font-size:21px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #103297;
    border: none;
    
}
#C4:hover{
    background-color: red;
    color: white;
    transition:0.5s;
}
/*.............*/
#five{
    display: inline-block;
    border:1px solid #000;
    padding:20px;
    width: 15em;
    height: 20em;
    border-radius: 20px;
    overflow: hidden;
    background:#232323;
}
#five:hover{
    transition: 0.5s;
    width: 16em;
    height: 21em;
}
#accP5{
    height: 10em;
    margin-top: 9.5em;
    margin-left: 2em;
    position: absolute;
    top: 50em;
}
#accT5{
    width: 15em;
    margin-left: 0em;
    position: absolute;
    top: 60em;
    font-size: large;
    background:none;
    color: white;
}
#accD5{
    width: 10em;
    position: absolute;
    top: 70em;
    margin-left: 0em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    height: 10em;
    width: 13em;
    font-size: medium;
    background: none;
}
#P5{
    position: absolute;
    margin-left: -1em;
    top: 63em;
    color: rgb(219, 105, 105);
    font-size: 20px;
    background: none;
}
#C5{
    position: absolute;
    margin-left: 5em;
    top: 59.5em;
    text-decoration: none;
    color: black;
    font-size:21px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #103297;
    border: none;
    
}
#C5:hover{
    background-color: red;
    color: white;
    transition:0.5s;
}
/*..........*/
.cus{
    background-color: black;
    color: rgba(255, 255, 255, 0.599);
}
#about{
    height:14em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#contact{
    position: absolute;
    right: 1em;
    top: 83em;
    width: 40em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
